name: Terraform CI Pipeline

# when workflow runs
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch: #creates a run ui button so u dont have to pull or push just to run

# Define job
jobs:
  terraform-plan:
    name: "terraform validation and plan"
    runs-on: ubuntu-latest

    steps:
      # Step 1: checkout repository
      - name: checkout code
        uses: actions/checkout@v3

      # Step 2: setup Terraform
      - name: setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      # step 3: terraform init
      - name: Terraform init
        run: terraform init

      # step 4: terraform formatting
      - name: terraform formatting
        run: terraform fmt

      # step 5: terraform plan
      - name: terraform Plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        run: terraform plan

  # 2) Terraform APPLY (Triggered By keyword)
  terraform-apply:
    runs-on: ubuntu-latest
    name: Terraform Apply (keyword Trigger)
    needs: terraform-plan

    #this is the key part
    if: contains(github.event.head_commit.message,'[apply]')

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v2

      - name: Terraform init
        run: terraform init

      - name: Terraform Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}

        run: terraform apply -auto-approve
